body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

.container {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #e7ecef;
  position: relative;
}

.navbar {
  height: 100vh;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#950101 0% 60%, #ff0000);
  position: fixed;
  left: 0;
  top: 0;
}

.logo {
  width: 100%;
}

.logo img {
  width: 100%;
  height: 65px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.nav-item span {
  font-size: 35px;
}

.nav-item p {
  margin-left: 5px;
  font-size: 15px;
}
.footer {
  height: 60px;
  width: calc(100% - 70px);
  background: linear-gradient(to left, #950101 0% 60%, #ff0000);
  position: fixed;
  bottom: 0;
  left: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white; /* General color for all text */
}

.footer-text h4,
.footer-text h3 {
  margin: 0;
  padding-left: 15px;
  font-family: Arial, sans-serif;
  color: white; /* Ensure the footer text is white */
}

.footer-apps i,
.social-media i {
  color: white; /* Ensure the app store icons and social media icons are white */
  font-size: 30px;
  margin-right: 15px;
}

.social-media i {
  margin: 0 10px;
}

.footer-apps {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
.search {
  width: calc(100% - 70px);
  height: 60px;
  background: linear-gradient(to right, #950101 0% 55%, #ff0000);
  position: fixed;
  top: 0;
  left: 70px;
  display: flex;
  justify-content: flex-end;
}
.s-item {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}
.s-item button {
  background-color: #d10000;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  margin: 0 10px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: #ff4d4d;
  }
}

.searchbar {
  width: 230px;
}
input[name="searchbar"] {
  width: 100%;
  height: 25px;
  border-radius: 10px;
  color: white;
}
.bmi button {
  width: 100%;
  height: 30px;
}
.icons {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icons span {
  font-size: 40px;
  color: white;
}
.music-section {
  margin: 80px auto 20px;
  width: 50%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(to right, #ff4d4d, #950101);
  color: white;
}

.music-section h2 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 24px;
}

.music-section input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #950101;
  border-radius: 5px;
  background-color: #ffffff;
  color: #950101;
}

.music-section button {
  padding: 10px 20px;
  background-color: #d10000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.music-section button:hover {
  background-color: #ff4d4d;
}

.album-info {
  margin-top: 20px;
  color: #ffffff;
  background-color: #7d0909;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
}

.album-info h2 {
  color: #ffcccc;
}

.album-info img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 8px;
}

.album-info p {
  color: #ffffff;
  margin: 5px 0;
}
