<div class="navbar">
    <div class="nav-item logo">
        <img src="/images/logo_bg.png" alt="logo" />
    </div>
    <div class="nav-item" data-page="arena.html">
        <span class="material-symbols-outlined">home_app_logo</span>
        <p>Home</p>
    </div>
    <div class="nav-item" data-page="workout.html">
        <span class="material-symbols-outlined">fitness_center</span>
        <p>Workout</p>
    </div>
    <!-- Add other navbar items here -->
</div>
