<div class="search">
    <div class="s-item searchbar">
        <input type="text" name="searchbar" placeholder="Search" />
    </div>
    <div class="s-item icons">
        <span class="material-symbols-outlined">shopping_cart</span>
        <span class="material-symbols-outlined">person</span>
    </div>
</div>
